
.background-image{
    -fx-background-image: url('../img/pexels-joyston-judah-331625-933054.jpg');
    -fx-background-size: 100% 100%;
}

.wrapper{
    -fx-background-color: rgb(51, 50, 50);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0, 0, 4);
    -fx-border-radius: 50;
    -fx-backdrop-filter: blur(2.1px);
}

.wrapper2{
    -fx-background-color: rgba(51, 50, 50, 0.5);
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0, 0, 4);
    -fx-border-color: rgba(51, 50, 50, 0.7);
    -fx-border-width: 1;
    -fx-border-radius: 16;
}

.inner-box{
    -fx-background-color: rgba(60, 56, 54);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0, 0, 4);
    -fx-border-width: 1;
    -fx-border-radius: 50;
}

.inner-box2{
    -fx-background-color: rgba(60, 56, 54);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 30, 0, 0, 4);
    -fx-border-width: 1;
    -fx-border-radius: 50;
}
