.black-text{
    -fx-text-fill: black;
}

.button{
    -fx-background-radius: 30;
    -fx-border-color: GREY;
    -fx-border-radius: 30;
}

.profile-button{
    -fx-background-color:  #B0C4DE;
}

.attendance-button{
    -fx-background-color: #A2D5F2;
}

.payment-button{
    -fx-background-color:   #F4C430;
}

.timeoff-button{
    -fx-background-color:   #4682B4;
}

.manageropt-button{

}

.logout-button{
    -fx-background-color:   #FF6F61;
}

.page{
    -fx-background-radius: 10;
}

.bg-by-option{
    -fx-background-color: #A2D5F2;
}